@charset "UTF-8";

@font-face {
    font-family: 'Spacemajestic';
    src: url(SpaceMajesticRegular-d9YLX.otf);
}

@font-face {
    font-family: 'Retrochild';
    src: url(RetroChildRegular-7BnMl.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

/*classes do header */

.container-header{
    display: flex;
    justify-content: center;
    height: 130px;
    position: relative;
}

.container-header h1 {
    color: #b5461a;
    text-shadow: #1a1a1a 5px 3px 0px;
    font-family: 'Spacemajestic';
    position: absolute;
    bottom: 50px;

}

/*classes do artigo introdutorio (modificar para pc com media querie)*/

.intro {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.intro h2 {
    color: #f99146;
    font-size: 36px;
    margin-top: 38px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a5a;
    border-radius: 15px;
    padding: 10px;
}

.intro img {
    max-width: 75%;
}

.intro p {
    color: wheat;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a5a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* classes da imagem da atmosfera */

.imagem-atmosfera {
    height: 15rem;
    background-image: url(imagens/marte-atmosfera.jpg);
    background-size: cover;
    background-position: center;
}


.imagem-atmosfera span p {
    font-family: 'Retrochild';
    color: wheat;
    background-color: #7d4c385a;
    font-size: 5ch;
    text-align: center;
}

.atmosfera p {
    color: wheat;
    background-color: #00000065;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 10px;
    position: relative;
}

/*----------*/

header {
    background-color: #e25822;
    max-width: auto;
}

nav ul {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: wheat;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #b5461a;
    border-radius: 30px;
}

nav a:hover {
    background-color: #cf6035;
    color: #1a1a1a;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
}

/* configurações do texto*/

article {
    background-color: #7D4C38;
}


/* media quieres */

@media (min-width:1000px) {
    /*classes do artigo introdutorio (modificar para pc com media querie)*/

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.intro h2 {

    color: #f99146;
    font-size: 36px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a5a;
    border-radius: 15px;

}

.intro img {
    max-width: 75%;
    grid-column: 1;

}

.intro p {
    grid-row: auto;
    color: wheat;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a5a;
    border-radius: 15px;
}

.imagem-atmosfera {
    height: 15rem;
    background-image: url(imagens/marte-atmosfera.jpg);
    background-size: cover;
    background-position: center;
}


.imagem-atmosfera span p {
    font-family: 'Retrochild';
    color: wheat;
    background-color: transparent;
    font-size: 7ch;
    top: 5rem;
    text-align: left;
    left: 5ch;
    display: inline-block;
}

.atmosfera p {
    color: wheat;
    background-color: #00000065;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 10px;
    position: relative;
}


}