@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.intro {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.intro > img {
    max-height: 250px;
    justify-self: center;
    grid-row: -1/2;
}

.intro > h2 {
    font-size: 4.75ch;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    margin-top: 4%;
    color: #e25822;
}

.intro > p {
    display: grid;
    grid-row: -3;
    grid-column: 2;
    color: #ffffff;
    font-size: 2.5ch;
    margin: 15px;
}

/* media querie para celulares*/

@media (max-width: 800px) {
    .intro {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .intro > img {
        max-height: 250px;
        justify-self: center;
        
    }
    .intro > p {
        grid-column: auto;
        grid-row: auto;
        font-size: 2ch;
    }
}

/* geral */

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* header */

header {
    color: #e25822;
    background-color: black;
    padding: 15px 15px;
    border-radius: 0px 0px 10px 10px;
}

header h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: #4E3B31 2px 2px;
    
}


article {
    padding: 10px;
    background-color: #000000;
}

/* menu no header */

header ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    
}

header ul a {
    display: block;
    text-decoration: none;
    color: #e25822;
    padding: 10px;
    margin: 0 auto;
    background-color: #4E3B31;
    border-radius: 15px;
    transition: 0.2s;
}

header ul a:hover {
    display: block;
    text-decoration: none;
    color: #4E3B31;
    background-color: #e25822;
    border-radius: 15px;
}

